* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2a333d;
}

.formulario {
    min-height: calc(100vh - 18px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 98.7vw;
}

form {
    max-width: 55%;
    min-width: 450px;
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(230, 220, 243);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    margin-bottom: 1rem;
}

.ocultar {
    display: none;
}

footer {
    height: 18px;
    text-align: center;
    background: #2a333d;
    color: #ffffff;
    position: relative;
    width: 100%;
    bottom: 0;
}

.ocultar {
    display: none;
}

.mostrar {
text-align: center;
justify-content: center;
align-items: center;
}

.tareas {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Label del contenedor */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 150%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Esconder icono predeterminado */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Crea icono personalizado */
.checkmark {
    position: absolute;
    left: -35px;
    height: 35px;
    width: 80px;
    background-color: #eee;
    border-radius: 5px;
}

/* Se oscurece en hover */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* Cuando esta checked */
.container input:checked~.checkmark {
    background-color: #2196F3;
    color: #ffffff;
    font-weight: 900;
    border-radius: 5px;
}
